<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Signalr</title>

    <link rel="canonical" href="">

    

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/img/favicons/manifest.json">
<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/img/favicons/favicon.ico">
<meta name="theme-color" content="#343a40">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="lightning-charge" viewBox="0 0 16 16">
    <path d="M11.251.068a.5.5 0 01.227.58L9.677 6.5H13a.5.5 0 01.364.843l-8 8.5a.5.5 0 01-.842-.49L6.323 9.5H3a.5.5 0 01-.364-.843l8-8.5a.5.5 0 01.615-.09zM4.157 8.5H7a.5.5 0 01.478.647L6.11 13.59l5.732-6.09H9a.5.5 0 01-.478-.647L9.89 2.41 4.157 8.5z"></path>
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
    <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
  </symbol>
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </symbol>
  <symbol id="grid" viewBox="0 0 16 16">
    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
  </symbol>
  <symbol id="collection" viewBox="0 0 16 16">
    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
  </symbol>
  <symbol id="calendar3" viewBox="0 0 16 16">
    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  </symbol>
  <symbol id="chat-quote-fill" viewBox="0 0 16 16">
    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
  </symbol>
  <symbol id="cpu-fill" viewBox="0 0 16 16">
    <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
    <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
  </symbol>
  <symbol id="gear-fill" viewBox="0 0 16 16">
    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
  </symbol>
  <symbol id="speedometer" viewBox="0 0 16 16">
    <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
    <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
  </symbol>
  <symbol id="toggles2" viewBox="0 0 16 16">
    <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
    <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
    <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
  </symbol>
  <symbol id="tools" viewBox="0 0 16 16">
    <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
  <symbol id="geo-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
  </symbol>
</svg>

<main>
  <h1 class="visually-hidden">Signalr</h1>

  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 20em;position:fixed;height:100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#lightning-charge"/></svg>
      <span class="fs-4">Signalr</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
       <li>
        <a href="/sparks" class="nav-link text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
          </svg>
          Sparks
        </a>
      </li>
      <li>
        <a href="/signals" class="nav-link active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Signals
        </a>
      </li>
      <li>
        <a href="/settings" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Account Settings
        </a>
      </li>
    </ul>
  </div>
   <div class="container-fluid" style="margin-left:20em;">
        <div class="mx-auto row mt-4">
            <div class="col">
                <strong>Signals</strong>
                <p>The Long Term Trading strategy will send you signals based on settings defined here.</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <form method="post" action="/postSignals" enctype="multipart/form-data">
                <div class="mx-auto row mt-3">
                    <strong>My Signals</strong>
                    <div class="col border">
                        {{#each signals}}
                            {{#if this.MayerMultiple}}
                            <div class="row mx-auto mt-1 mb-1">
                                <div class="col mt-2">
                                    <input type="hidden" name="SignalId-{{@index}}" value="{{ this.id }}"/>
                                    <input type="hidden" name="SignalName-{{@index}}" value="{{ this.name }}"/>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="MayerMultipleEnable" name="Enable-{{@index}}" checked>
                                        <label class="form-check-label" for="MayerMultipleEnable">Mayer Multiple</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Action-{{@index}}" id="MayerMultipleAction">
                                        <option {{#if this.buy }}selected{{/if}}>Buy</option>
                                        <option {{#if this.sell }}selected{{/if}}>Sell</option>
                                        <option {{#if this.advise }}selected{{/if}}>Advise</option>
                                    </select>
                                </div>
                                <div class="col mt-2">
                                    <span>when</span>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Operator-{{@index}}" id="MayerMultipleOperator">
                                        <option {{#if this.is }}selected{{/if}}>Is</option>
                                        <option {{#if this.equal_higher }}selected{{/if}}>Equal or Higher</option>
                                        <option {{#if this.equal_lower }}selected{{/if}}>Equal or Lower</option>
                                        <option {{#if this.higher }}selected{{/if}}>Higher</option>
                                        <option {{#if this.lower }}selected{{/if}}>Lower</option>
                                        <option {{#if this.crossHigher }}selected{{/if}}>Cross Higher</option>
                                        <option {{#if this.crossLower }}selected{{/if}}>Cross Lower</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Value" value="{{ this.value }}" id="MayerMultipleValue" name="Value-{{@index}}" aria-label="default input example">
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.MayerBands}}
                            <div class="row mx-auto mt-1 mb-1">
                                <div class="col mt-2">
                                    <input type="hidden" name="SignalId-{{@index}}" value="{{ this.id }}"/>
                                    <input type="hidden" name="SignalName-{{@index}}" value="{{ this.name }}"/>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="MayerBandsEnable" name="Enable-{{@index}}" checked>
                                        <label class="form-check-label" for="MayerBandsEnable">Mayer Bands</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Action-{{@index}}" id="MayerBandsAction">
                                        <option {{#if this.buy }}selected{{/if}}>Buy</option>
                                        <option {{#if this.sell }}selected{{/if}}>Sell</option>
                                        <option {{#if this.advise }}selected{{/if}}>Advise</option>
                                    </select>
                                </div>
                                <div class="col mt-2">
                                    <span>when</span>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Operator-{{@index}}" id="MayerBandsOperator">
                                        <option {{#if this.is }}selected{{/if}}>Is</option>
                                        <option {{#if this.equal_higher }}selected{{/if}}>Equal or Higher</option>
                                        <option {{#if this.equal_lower }}selected{{/if}}>Equal or Lower</option>
                                        <option {{#if this.higher }}selected{{/if}}>Higher</option>
                                        <option {{#if this.lower }}selected{{/if}}>Lower</option>
                                        <option {{#if this.crossHigher }}selected{{/if}}>Cross Higher</option>
                                        <option {{#if this.crossLower }}selected{{/if}}>Cross Lower</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Value-{{@index}}" id="MayerBandsValue">
                                        <option {{#if this.overbought }}selected{{/if}}>Overbought</option>
                                        <option {{#if this.bullish_ext }}selected{{/if}}>Bullish extension</option>
                                        <option {{#if this.bullish }}selected{{/if}}>Bullish</option>
                                        <option {{#if this.bearish }}selected{{/if}}>Bearish</option>
                                        <option {{#if this.oversold }}selected{{/if}}>Oversold</option>
                                    </select>
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.RVI}}
                            <div class="row mx-auto mt-1 mb-1">
                                <div class="col mt-2">
                                    <input type="hidden" name="SignalId-{{@index}}" value="{{ this.id }}"/>
                                    <input type="hidden" name="SignalName-{{@index}}" value="{{ this.name }}"/>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="RVIEnable" name="Enable-{{@index}}" checked>
                                        <label class="form-check-label" for="RVIEnable">Revality Volatility Index</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Action-{{@index}}" id="RVIAction">
                                        <option {{#if this.buy }}selected{{/if}}>Buy</option>
                                        <option {{#if this.sell }}selected{{/if}}>Sell</option>
                                        <option {{#if this.advise }}selected{{/if}}>Advise</option>
                                    </select>
                                </div>
                                <div class="col mt-2">
                                    <span>when</span>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Operator-{{@index}}" id="RVIOperator">
                                        <option {{#if this.is }}selected{{/if}}>Is</option>
                                        <option {{#if this.equal_higher }}selected{{/if}}>Equal or Higher</option>
                                        <option {{#if this.equal_lower }}selected{{/if}}>Equal or Lower</option>
                                        <option {{#if this.higher }}selected{{/if}}>Higher</option>
                                        <option {{#if this.lower }}selected{{/if}}>Lower</option>
                                        <option {{#if this.crossHigher }}selected{{/if}}>Cross Higher</option>
                                        <option {{#if this.crossLower }}selected{{/if}}>Cross Lower</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Value" value="{{ this.value }}" id="RVIValue" name="Value-{{@index}}" aria-label="default input example">
                                </div>
                            </div>
                            {{/if}}
                            {{!-- {{#if this.MVRV}}
                            <div class="row mx-auto mt-1 mb-1">
                                <div class="col mt-2">
                                    <input type="hidden" name="SignalId-{{@index}}" value="{{ this.id }}"/>
                                    <input type="hidden" name="SignalName-{{@index}}" value="{{ this.name }}"/>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="MVRVEnable" name="Enable-{{@index}}" checked>
                                        <label class="form-check-label" for="MVRVEnable">MVRV Ratio</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Action-{{@index}}" id="MVRVAction">
                                        <option {{#if this.buy }}selected{{/if}}>Buy</option>
                                        <option {{#if this.sell }}selected{{/if}}>Sell</option>
                                        <option {{#if this.advise }}selected{{/if}}>Advise</option>
                                    </select>
                                </div>
                                <div class="col mt-2">
                                    <span>when</span>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Operator-{{@index}}" id="MVRVOperator">
                                        <option {{#if this.is }}selected{{/if}}>Is</option>
                                        <option {{#if this.equal_higher }}selected{{/if}}>Equal or Higher</option>
                                        <option {{#if this.equal_lower }}selected{{/if}}>Equal or Lower</option>
                                        <option {{#if this.higher }}selected{{/if}}>Higher</option>
                                        <option {{#if this.lower }}selected{{/if}}>Lower</option>
                                        <option {{#if this.crossHigher }}selected{{/if}}>Cross Higher</option>
                                        <option {{#if this.crossLower }}selected{{/if}}>Cross Lower</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Value" value="{{ this.value }}" id="MVRVValue" name="Value-{{@index}}" aria-label="default input example">
                                </div>
                            </div>
                            {{/if}} --}}
                            {{#if this.MVRVZ}}
                            <div class="row mx-auto mt-1 mb-1">
                                <div class="col mt-2">
                                    <input type="hidden" name="SignalId-{{@index}}" value="{{ this.id }}"/>
                                    <input type="hidden" name="SignalName-{{@index}}" value="{{ this.name }}"/>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="MVRVZEnable" name="Enable-{{@index}}" checked>
                                        <label class="form-check-label" for="MVRVZEnable">MVRV Z-Score</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Action-{{@index}}" id="MVRVZAction">
                                        <option {{#if this.buy }}selected{{/if}}>Buy</option>
                                        <option {{#if this.sell }}selected{{/if}}>Sell</option>
                                        <option {{#if this.advise }}selected{{/if}}>Advise</option>
                                    </select>
                                </div>
                                <div class="col mt-2">
                                    <span>when</span>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="Operator-{{@index}}" id="MVRVZOperator">
                                        <option {{#if this.is }}selected{{/if}}>Is</option>
                                        <option {{#if this.equal_higher }}selected{{/if}}>Equal or Higher</option>
                                        <option {{#if this.equal_lower }}selected{{/if}}>Equal or Lower</option>
                                        <option {{#if this.higher }}selected{{/if}}>Higher</option>
                                        <option {{#if this.lower }}selected{{/if}}>Lower</option>
                                        <option {{#if this.crossHigher }}selected{{/if}}>Cross Higher</option>
                                        <option {{#if this.crossLower }}selected{{/if}}>Cross Lower</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Value" value="{{ this.value }}" id="MVRVZValue" name="Value-{{@index}}" aria-label="default input example">
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="mt-2">
                <button type="submit" name="submit"  value="update" class="btn btn-outline-success">Update My Signals</button>
                </div>
            </form>
            <form method="post" action="/postSignals" enctype="multipart/form-data">
                <div class="mx-auto row mt-3 ">
                    <strong>Add Signals</strong>
                    <div class="col border">
                        <div class="row mx-auto mt-1 mb-1">
                            <div class="col mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="MayerMultipleEnable" name="MayerMultipleEnable">
                                    <label class="form-check-label" for="MayerMultipleEnable"><a href="https://stats.buybitcoinworldwide.com/mayer-multiple/">Mayer Multiple</a></label>
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MayerMultipleAction" id="MayerMultipleAction">
                                    <option selected>Buy</option>
                                    <option>Sell</option>
                                    <option>Advise</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <span>when</span>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MayerMultipleOperator" id="MayerMultipleOperator">
                                    <option selected>Is</option>
                                    <option>Equal or Higher</option>
                                    <option>Equal or Lower</option>
                                    <option>Higher</option>
                                    <option>Lower</option>
                                    <option>Cross Higher</option>
                                    <option>Cross Lower</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Value"  id="MayerMultipleValue" name="MayerMultipleValue" aria-label="default input example">
                            </div>
                        </div>
                        <div class="row mx-auto mt-1 mb-1">
                            <div class="col mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="MayerBandsEnable" name="MayerBandsEnable">
                                    <label class="form-check-label" for="MayerBandsEnable"><a href="https://stats.buybitcoinworldwide.com/mayer-bands/">Mayer Bands</a></label>
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MayerBandsAction" id="MayerBandsAction">
                                    <option selected>Buy</option>
                                    <option>Sell</option>
                                    <option>Advise</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <span>when</span>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MayerBandsOperator" id="MayerBandsOperator">
                                    <option selected>Is</option>
                                    <option>Equal or Higher</option>
                                    <option>Equal or Lower</option>
                                    <option>Higher</option>
                                    <option>Lower</option>
                                    <option>Cross Higher</option>
                                    <option>Cross Lower</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MayerBandsValue" id="MayerBandsValue">
                                    <option selected>Overbought</option>
                                    <option>Bullish extension</option>
                                    <option>Bullish</option>
                                    <option>Bearish</option>
                                    <option>Oversold</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mx-auto mt-1 mb-1">
                            <div class="col mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="RVIEnable" name="RVIEnable">
                                    <label class="form-check-label" for="RVIEnable"><a href="https://www.marketvolume.com/technicalanalysis/relativevolatilityindex.asp">Relative Volatility Index</a></label>
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" name="RVIAction" id="RVIAction">
                                    <option selected>Buy</option>
                                    <option>Sell</option>
                                    <option>Advise</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <span>when</span>
                            </div>
                            <div class="col">
                                <select class="form-control" name="RVIOperator" id="RVIOperator">
                                    <option selected>Is</option>
                                    <option>Equal or Higher</option>
                                    <option>Equal or Lower</option>
                                    <option>Higher</option>
                                    <option>Lower</option>
                                    <option>Cross Higher</option>
                                    <option>Cross Lower</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Value"  id="RVIValue" name="RVIValue" aria-label="default input example">
                            </div>
                        </div>
                        {{!-- <div class="row mx-auto mt-1 mb-1">
                            <div class="col mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="MVRVEnable" name="MVRVEnable">
                                    <label class="form-check-label" for="MVRVEnable"><a href="https://medium.com/@kenoshaking/bitcoin-market-value-to-realized-value-mvrv-ratio-3ebc914dbaee">MVRV Ratio</a></label>
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MVRVAction" id="MVRVAction">
                                    <option selected>Buy</option>
                                    <option>Sell</option>
                                    <option>Advise</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <span>when</span>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MVRVOperator" id="MVRVOperator">
                                    <option selected>Is</option>
                                    <option>Equal or Higher</option>
                                    <option>Equal or Lower</option>
                                    <option>Higher</option>
                                    <option>Lower</option>
                                    <option>Cross Higher</option>
                                    <option>Cross Lower</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Value"  id="MVRVValue" name="MVRVValue" aria-label="default input example">
                            </div>
                        </div> --}}
                        <div class="row mx-auto mt-1 mb-1">
                            <div class="col mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="MVRVZEnable" name="MVRVZEnable">
                                    <label class="form-check-label" for="MVRVZEnable"><a href="https://www.lookintobitcoin.com/charts/mvrv-zscore/">MVRV Z-Score</a></label>
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MVRVZAction" id="MVRVZAction">
                                    <option selected>Buy</option>
                                    <option>Sell</option>
                                    <option>Advise</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <span>when</span>
                            </div>
                            <div class="col">
                                <select class="form-control" name="MVRVZOperator" id="MVRVZOperator">
                                    <option selected>Is</option>
                                    <option>Equal or Higher</option>
                                    <option>Equal or Lower</option>
                                    <option>Higher</option>
                                    <option>Lower</option>
                                    <option>Cross Higher</option>
                                    <option>Cross Lower</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Value"  id="MVRVZValue" name="MVRVZValue" aria-label="default input example">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <button type="submit" name="submit" value="add" class="btn btn-outline-success">Add New Signals</button>
                </div>
            </form>
        </div>
    </div>
</main>


    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

      <script src="/js/sidebars.js"></script>
  </body>
</html>
